.footer {
    background-color: rgb(60, 46, 46);
    padding: 100px 0;
    font-size: 38px;
    color: #fff;
    text-align: center;
    
    @media (max-width: 1200px) {
        font-size: 26px;
    }
}